/* Step 1 - Add a nice background */
body {
     background-color: black;
    

}

/* Step 2 - Add a nice card style */
.card {
    height: 100px;
    width: 100px;
    background-color:#1a5646;
    border: 3px solid black;
    position: relative;
    float: left;
    padding: 2%;
    margin: 2%;

}

/* Step 3 - Add a nice hover effect */
.card:hover {
    border: 3px solid #1a5646; 

}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
    background-color: black; 
}

/* Step 5 - Add a nice style to the message element */
#message {
    color: red;

}

/* Step 6 - Add 5 more style changes... */
/* 1) */
/* 2) */
/* 3) */
/* 4) */
/* 5) */