/* Step 1 - Add a nice background */
body {
    background: #136a8a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Step 2 - Add a nice card style */
.card {
    height: 100px;
    width: 100px;
    background-color:#212c3f;
    border: 3px solid black;
    position: relative;
    float: left;
    padding: 2%;
    margin: 2%;
    color: white;

}

/* Step 3 - Add a nice hover effect */
.card:hover {
    border: 3px solid #212c3f; 

}

/* Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
    background-color: black; 
}

/* Step 5 - Add a nice style to the message element */
#message {
    color: white;

}

/*for dislaying scores*/
#p1Score, #p2Score{
    color: white;
} 

.display-5{
    color: white;
    background-color: #20365b;
    height: 100%;   
}

/* Step 6 - Add 5 more style changes... */
/* 1) */
/* 2) */
/* 3) */
/* 4) */
/* 5) */